<!-- Topbar component -->
<div id="topbar" class="topbar">
  <div class="topbar-inner">
    <div class="topbar-left">
      <button class="btn btn-link nav-link text-center" type="button" aria-label="Toggle sidebar">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="topbar-right">
      <div class="topbar-item">
        <form data-search-form>
          <i class="fas fa-search"></i>
          <input type="text" id="search-input" aria-label="search" autocomplete="off"
            placeholder="Searching...">
        </form>
      </div>
    </div>
  </div>
</div> 