---
layout: base
---

{% include components/loading.html %}

{% include components/modal.html %}

{% include components/notify.html %}

{% include components/theme-toggle.html %}

{% include components/sidebar.html %}

{% include components/topbar.html %}

<main class="main">
  <div class="container">
    {{ content }}
  </div>
</main>

{% include components/footer.html %}

{% include components/search-results.html %}

{% include components/back-to-top.html %}

{% include components/progress-bar.html %}

{% include components/consent.html %}

{% include components/misc.html %} 